{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!-- Wide card with share menu button -->
<style>
  .menu-content {

  }
  .menu-option {
    outline-width: 0px;
  }
  .menu-content > .mdl-grid {

  }
  .mdl-grid.mdl-cell {
    padding: 0px;
    margin: 0px;
  }
</style>

<div class="menu-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-js-ripple-effect mdl-cell--9-col mdl-card menu-option mdl-color--green-A400"><span class="mdl-ripple"></span></div>
    <div class="mdl-cell mdl-cell--3-col mdl-grid mdl-grid--4-col">
      <div class="mdl-cell mdl-js-ripple-effect mdl-cell--12-col mdl-card menu-option mdl-color--pink-A400"><span class="mdl-ripple"></span></div>
      <div class="mdl-cell mdl-js-ripple-effect mdl-cell--6-col mdl-card menu-option mdl-color--purple-A400"><span class="mdl-ripple"></span></div>
      <div class="mdl-cell mdl-js-ripple-effect mdl-cell--6-col mdl-card menu-option color-primary--light"><span class="mdl-ripple"></span></div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-grid mdl-grid--4-col">
      <div class="mdl-cell mdl-js-ripple-effect mdl-card menu-option color-primary--light"><span class="mdl-ripple"></span></div>
      <div class="mdl-cell mdl-js-ripple-effect mdl-cell--8-col mdl-card menu-option mdl-color--pink-A400"><span class="mdl-ripple"></span></div>
      <div class="mdl-cell mdl-js-ripple-effect mdl-cell--8-col mdl-card menu-option color-primary--light"><span class="mdl-ripple"></span></div>
      <div class="mdl-cell mdl-js-ripple-effect mdl-card menu-option mdl-color--green-A400"><span class="mdl-ripple"></span></div>
    </div>
    <div class="mdl-cell mdl-js-ripple-effect mdl-cell--4-col mdl-card menu-option color-primary--light"><span class="mdl-ripple"></span></div>
    <div class="mdl-cell mdl-js-ripple-effect mdl-cell--3-col mdl-card menu-option mdl-color--pink-A400"><span class="mdl-ripple"></span></div>
    <div class="mdl-cell mdl-js-ripple-effect mdl-cell--1-col mdl-card menu-option mdl-color--green-A400"><span class="mdl-ripple"></span></div>
  </div>
</div>
{% endblock %}