{% extends "layout/base.html" %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link rel="stylesheet" href="{% sass_src "django_portfolio/css/index.scss" %}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300thin,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div class="menu-content">
  <div class="hero">
    <div class="hero__bg-container greyed">
      <div class="hero__bg-overlay">
        <h1>Hi, I'm Jordan Liu</h1>
        <h4>Please hire me.</h4>
      </div>
    </div>
    <button class="hero__button mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--white mdl-js-ripple-effect mdl-shadow--12dp">
      <i class="material-icons">home</i>
    </button>
  </div>
  <section class="site-section site-section--white" id="section-about">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          something here
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          something here
        </div>
        another thing here
      </div>
    </div>
  </section>
  <section class="site-section site-section--grey">
    <div class="aux">
      <div class="scroll-fade">
        something here
      </div>
    </div>
  </section>
  <section class="site-section site-section--white">
    <div class="aux">
      something here
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "django_portfolio/js/index.js" %}"></script>
{% endblock %}