$section-white: #ffffff;
$section-grey: rgba(0,0,0,0.05);
$bg-overlay-text: white;
.hero {
 
}
.hero__bg-container {
	background-image: url('https://i.imgur.com/vMq0aLe.jpg');
	background-position: center center;
	background-size:cover;
	height: 40em;
}
.hero__bg-overlay {
	padding: 12% 8% 12% 8%;
	color: $bg-overlay-text;
	
}
.hero__bg-overlay > h1, h4{
	font-weight: 100;
	text-align: center;
}

.site-section {
	min-height: 30rem;
	vertical-align: middle;
}
.site-section img {
    display: block;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	max-height: 20rem;
}

.site-section-content--centered {
	height: 100%;
	justify-content: center;
  	display: flex;
  	align-items: center;
}
.site-section-content p {
	font-weight: 300;
}
.site-section-content h1 {
	font-weight: 200;
	font-size: 3.5rem;
}

.textbox {
	padding: 10%;
}

.site-section--grey {
	background-color: $section-grey;
}
.site-section--white { 
	background-color: $section-white;
}
.scroll-fade {
	opacity:0;
	background-color:black;
}