.color-primary {
	background-color: rgb(0, 178, 204);
	border-color: rgb(35, 213, 239);
	border-style: none;
}
.color-primary--light {
	background-color: rgb(76, 233, 255);
}
.color-primary--dark {
	background-color: rgb(5, 14, 15);
	border-color: rgb(40, 49, 50);
	border-style: none;
}
.color-text-primary {
	color: rgb(0, 178, 204);
}
.color-text-primary--light {
	color: rgb(76, 233, 255);
}
.color-text-primary--dark {
	color: rgb(5, 14, 15);
}
.mdl-layout__header {

}
