{% extends "layout/base.html" %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link rel="stylesheet" href="{% sass_src "django_portfolio/css/index.scss" %}">
{% endblock %}

{% block content %}

<div class="menu-content">
  <div class="hero">
    <div class="hero__bg-container greyed">
      <div class="hero__bg-overlay">
        <h1>Hi, I'm Jordan Liu</h1>
        <h4>Please hire me.</h4>
      </div>
    </div>
  </div>
  <section class="site-section site-section--white" id="section-about">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content site-section-content--centered">
            <img src="{% static 'django_portfolio/img/uoft_logo.png' %}">
          </div>
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content textbox">
            <h1>A little bit about me</h1>
            <p>I'm Jordan and I love to learn! I'm a second year student studying software engineering at University of Toronto Scarborough. I am a cunt because I don't lock in.</p>
          </div>
          <span><a href='https://www.freepik.com/free-vector/white-isometric-factory_1086486.htm'>Designed by Freepik</a></span>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--grey">
    <div class="aux">
      <h1>Projects</h1>
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <a href="/quickregister/">quickregister</a>
        </div> 
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          something here
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--white">
    <div class="aux">
      something here
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
  <!-- <script type="text/javascript" src="{% static "django_portfolio/js/index.js" %}"></script> -->
  <script type="text/javascript">
    $('#hero_down_button').click(function() {
      console.log("clicked")
      var offset = $('#section-about').offset()
      offset.top -= 20;
      $("html, body").animate({
        scrollTop: "300px"
      });
    });
  </script>
{% endblock %}