{% extends "layout/base.html" %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link rel="stylesheet" href="{% sass_src "django_portfolio/css/index.scss" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="hero">
    <div class="hero__bg-container greyed"> 
      <div class="hero__bg-overlay">
        <h1>Hi, I'm Jordan Liu</h1>
        <h4>Please hire me.</h4>
      </div>
    </div>
  </div>
  <section class="site-section site-section--white" id="section-about">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content textbox">
            <h1>A bit about me</h1>
            <p>I'm Jordan and I love to learn! I'm a second year student studying software engineering at University of Toronto Scarborough. I am an goal-oriented individual that constantly seeks challenges for self-improvement and overall personal growth.<br>
            <br>
            I don't have a decent picture of myself so here is <a href="https://www.facebook.com/Kennithisdabombdotcom" target="_blank">Kennith Zhang</a>.</p>
          </div>
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content centered">
            <!-- <img src="{% static 'django_portfolio/img/uoft_logo.png' %}"> -->
            <img class="mdl-shadow--16dp" src="{% static 'django_portfolio/img/headshot.jpg'%}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--grey" id="section-goals">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content textbox">
            <h1>Goals</h1>
            <p>
              As a student, I am currently focusing on learning and developing the skills needed to succeed as I want to set a strong foundation for my future self. Here are some of my short-term personal goals that align with this objective.<br>
              <br>
              <i style="font-size: 7px"  class="fa fa-circle-o" aria-hidden="true"></i> maintain consistency (eg. studying and exercising)<br>
              <i style="font-size: 7px"  class="fa fa-circle-o" aria-hidden="true"></i> find a position related to computer science &nbsp;&nbsp;(preferably next summer)<br>
              <i style="font-size: 7px"  class="fa fa-circle-o" aria-hidden="true"></i> go to a brand new city and learn the culture there<br>
              <i style="font-size: 7px"  class="fa fa-circle-o" aria-hidden="true"></i> create my own website and other various personal &nbsp;&nbsp;&nbsp;projects<br>
            </p>
          </div>
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content centered">
            <img src="{% static 'django_portfolio/img/checklist.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--white" id="section-strengths">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content textbox">
            <h1>Strengths</h1>
            <p>
              <b>Communication</b> - I love sharing my ideas and getting my point across. However, communication is a two-way street. Although I like being heard, I find it just as important to listen. I enjoy listening to other people's passions, goals, and stories as they provide me with brand new perspectives that I can learn from.<br>
              <br>
              <b>Positivity</b> - I strive to positively impact the lives of others as I find joy in making others happy. I truly believe that it is this characteristic that differentiates me from others. Others may be highly skilled in their respective fields, but I am one that aims to makes everyone around me better.<br>
            </p>
          </div>
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content centered">
            <img src="{% static 'django_portfolio/img/1346-flexed-biceps.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--grey" id="section-strengths">
    <div class="aux">
      <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content textbox">
            <h1>Projects</h1>
            <p>
              <b>Thats ridiculous</b><br>
              What are you talking about<br>
              <a href="projects/">It's not done yet</a>
            </p>
            <br>
          </div>
        </div>
        <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="site-section-content centered">
            <img src="{% static 'django_portfolio/img/factory2.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<p class="credit">Designed with help from <a href='https://www.freepik.com/free-vector/white-isometric-factory_1086486.htm'>Freepik</a>, 
  <a href="https://www.reddit.com/r/Cinemagraphs/comments/6pxbaa/say_when/">/u/Swartschenhimer</a>
</p>
{% endblock %}

{% block js %}
  <!-- <script type="text/javascript" src="{% static "django_portfolio/js/index.js" %}"></script> -->
  <script type="text/javascript">
    $('#hero_down_button').click(function() {
      console.log("clicked")
      var offset = $('#section-about').offset()
      offset.top -= 20;
      $("html, body").animate({
        scrollTop: "300px"
      });
    });
  </script>
{% endblock %}