$main-text: rgb(132, 132, 132);
$header-bg: #ffffff;
$header-text: $main-text;
html {
	color: $main-text;
}

.redb {
	background-color: red;
}

.greenb {
	background-color: green;
}

.site-header {
	color: $header-text;
	background-color: $header-bg;
}

.site-header .mdl-layout__header-row {
	color: $header-text;
}

.site-header .mdl-navigation__link {
	color: $header-text;
}

.aux {
	max-width: 61.25rem;
	margin: 0 auto;
	width: 100%;
}

.greyed { 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.centered {
	height: 100%;
	justify-content: center;
  	display: flex;
  	align-items: center;
}

.mdl-mini-footer i {
	font-size: 1.5rem;
}

.credit {
	font-style: italic;
	font-weight: 100;
	color: $header-text;
	text-decoration:none;
	font-size: 0.75rem;
}